@import "Variables.scss";

textarea:focus, input:focus{
  outline: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header_Cont {
  width: 50%;
  height: 3.5rem;
  display: flex;
}

.Home_Logo {
  font-size: 3rem;
  margin: auto 1rem;
  color: $SecondaryColor
}

.Header_left_text{
  font-size: 14px;
  display: flex;
  justify-content: center;
  transition: .3s ease-in-out;
}

.Header_left_text:hover {
  color: $SecondaryColor;
}

.Header_Right_Cont {
}

.Searchbar_Cont {
  width: 100%;
  height: 4rem;
  background-color: $BackgroundColor;
  display: flex;

}

.State_Input_Cont {
  margin: auto 2rem auto 5.2rem;
  display: flex;
}

.State_Input {
  height: 1.65rem;
  width: 4rem;
  border: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  color: gray;
}

.State_Input::after {
  color: #333;
  
}


.City_Input {
  margin: auto 0rem auto 2rem;
  border: none;
  border-radius: 2px;
  height: 1.5rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding-left: 20px;
  width: 10rem;
}

.Back_Arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      justify-items: center;
      margin: auto;
      height: 3rem;
      color: $GreyTextColor;
      margin: auto;
      font-size: 22px;
      transform: rotate(180deg);
}

.switch-wrapper {
  position: relative;
}
 
.switch-wrapper > div {
  position: absolute;
}

.Back_Button{
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  z-index: 3;
  border-radius: 50%;
  left: 46.7%;
}

.Page_Cont {
  grid-template-columns: repeat(12, 1fr);
  height: 79vh;
  display: flex;
}

.Search_Title{
  margin: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.Home_Box_Grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}


.Home_Box_Cont {
  height: 16rem;
}

.Home_Box_Image {
  height: 13rem;
  width: 100%;
  justify-content: center;
  margin: auto auto auto auto;
  background-size: cover;
  border-radius: 7px;
  transition: transform .8s;
  background-repeat: no-repeat;
  background-position: center;
}

.Home_Box_Image_Cont {
  height: 60%;
  width: 80%;
  justify-content: center;
  margin: 1rem auto auto auto;
  background-size: contain;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Home_Box_Image:hover {
  transform: scale(1.2);
}

.Home_Title {
  text-align: center;
  margin-top: 1rem;
  font-size: 21px;
  margin-right: 1rem;
}

.Home_Sub_Address {
  margin-top: .8rem;
  font-size: 14px;
  margin-right: 1.5rem;
  color: $GreyTextColor;
  margin-left: .8rem;
  font-weight: bold;
}

.Home_Sub_Cont {
  width: 17.5rem;
  margin-left: 5%;
}

.Home_Sub_IconInfo{
  display: flex;
  margin-top: .6rem;
  color: $GreyTextColor;
  margin-left: 1.05rem;
}

.Home_Sub_Bath_Text{
  font-size: 12px;
  display: flex;
}

.Home_Sub_Bed_Text {
  font-size: 12px;
  margin-left: 1rem;
  display: flex;
}

.Home_Sub_Price_Cont {
  width: 12rem;
  height: 3rem;
  border-radius: 7px;
  display: flex;
  margin-left: 1rem;
}

.Home_Sub_Price_Text {
  margin: auto .5rem;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: $GreyTextColor;
    width: 6rem;
}

.Home_Sub_Price_Price {
  color: $SecondaryColor;
  width: 6rem;
  font-weight: bold;
  font-size: 20px;
  margin-top: .7rem;
}

.IndHome_LargeImage {
  height: 17.5rem;
  width: 23rem;
  justify-content: center;
  margin: auto auto auto auto;
  border-radius: 7px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-area: a;
}  

.IndHome_Images_Cont {
  display: grid;
  grid-template:
      "b a a" 150px
      "d a a" 150px / 1fr 1fr;
  grid-template-columns: 230px 150px 150px;
}



.IndHome_SmallImage{
  width: 12rem;
  height: 8rem;
  margin: auto auto auto auto;
    background-size: cover;
    background-image: url('https://www.battlegroundindy.com/wp-content/uploads/2019/01/no-image-770x466.jpg');
    border-radius: 7px;
    justify-content: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.IndHome_SmallImage_Dark {
  background-color: #2a2c36;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.IndHome_SmallImage_Dark_Icon {
  color: white;
  font-size: 18px;
  text-align: center;
  display: flex;
}

.IndHome_Text {
  height: 15rem;
  width: 27rem;

}

.IndHome_Text_Title_Cont{
  height: 3rem;
  display: grid;
  margin-left: 1rem;
  margin-top: 1rem;
  grid-template: auto/ 250px 150px;
}

.IndHome_Text_Title_Price {
  font-size: 20px;
    font-weight: bold;
    color: $SecondaryColor;
}

.IndHome_Text_Title_Add {
    font-size: 20px
}

.IndHome_Text_Title_City {
  font-size: 12px;
}

.IndHome_Text_Sub_Info {
  width: 23rem;
  height: 8rem;
  justify-items: end;
margin-left: 1rem;
}

.IndHome_Text_Sub_1stRow {
  height: 3rem;
  width: 23rem;
  display: flex;
}

.IndHome_Text_Sub_Bed {
  margin: 0rem 4rem 0rem 0rem;
  font-size: 13px;
}

.IndHome_Text_Sub_Flex {
  display: flex;
  margin-top: .3rem;
  font-weight: bold;
  width: 5rem;
}

.IndHome_Text_Sub_Icon {
  color: $GreyTextColor;
  margin-left: .3rem;
}

.IndHome_Text_Sub_Description {
  display: grid;
    margin-top: .5rem;
}

.IndHome_Text_Sub_Description_Title {
  font-weight: bold;
}

.IndHome_Line {
  width: 26rem;
  margin-right: 16.7rem;
}

.IndHome_Text_Sub_Description_Text {
  margin-top: .4rem;
  font-size: 12px;
}

.Map_Label_Cont {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  border-radius: 5px;
}

.Map_Label_Street {
  font-size: 13px;
  color: $GreyTextColor;
    font-weight: bold
}

.Map_Label_Price {
  font-size: 10px;
  color: $SecondaryColor;
  font-weight: bold;
  margin-top: .2rem;
}

.Map_Label_Bath {
color: $GreyTextColor;
display: flex;
font-size: 12px;
margin-left: .5rem;
}

.Map_Label_Bed {
color: $GreyTextColor;
display: flex;
font-size: 12px;
}

.Map_Label_Bed_Icon {
  margin-right: .2rem;
}

.Map_Label_Bath_Icon {
  margin-right: .2rem;
}

.Search_Cont {
  margin-left: 4rem;
}

.Search_Button {
  background-color: $SecondaryColor;
  border: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 7rem;
  height: 1.8rem;
  cursor: pointer; 
}

.Search_Text{
  color: white;
  display: flex;
  font-size: 14px;
}

.Search_Icon {
  margin-right: 1rem;
  font-size: 18px;
}

.House_Info_Cont {
  margin-left: 2rem;
  overflow: auto;
  width: 50%;
  position: relative;
  margin-right: .5rem;
  animation: opac 1s ease-in-out;
}
@keyframes opac{
  from{opacity: 0;}
  to {opacity: 1;}
}

.Loader_Cont {
  margin: auto
}

.Loader_Icon{
  margin: auto auto 0px auto;
  margin-top: 3rem;
}

.Loader_Text{
  text-align: center;
  color: rgb(252, 110, 100);
  margin-top: 2rem;
  font-size: 25px;
  font-weight: bold;
}

.profile_cont {
  width: 12rem;
    height: 15rem;
}

.Profile_Pic{
  width: 5rem;
  height: 5rem;
  margin: auto;
  border-radius: 60px;
  margin-top: .5rem;
  background-image: url("https://randomuser.me/api/portraits/men/11.jpg");
  background-size: contain;
}

.Profile_Name {
  text-align: center;
  margin-top: .5rem;
}

.Profile_Star {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: .5rem;
}

.Profile_Star_Icon {
  color: gold;
    font-size: 13px;
}

.Profile_Star_Text {
  font-size: 13px;
    text-align: center;
    align-items: center;
    margin-left: .3rem;
    color: $GreyTextColor;
}

.Prop_Text{
  font-size: 12px;
  text-align: center;
  margin-top: 1rem;
}

.Profile_Bottom_Cont{
  width: 100%;
  height: 8rem;
  margin: auto;
  display: flex;
}

.Profile_Button_Cont {
  text-align: center;
  width: 9rem;
  height: 2rem;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 7px;
}

.Profile_Button {
  width: 100%;
  border-radius: 7px;
  border: 0;
  display: flex;
  justify-content: center;
  background-color: $SecondaryColor;
  color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.Contact_Text {
  display: flex;
  font-size: 14px;
  align-items: center;
}

.Mail_Icon {
  font-size: 19px;
  margin-right: .6rem;
}

.Header_Button {
  border: none;
  background-color: white;
  height: 3.5rem;
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
}

.Header_Link_Text {
  text-decoration: none;
  color: black;
}

.Header_Active {
  color: $SecondaryColor;
}

.Right_Side_Cont {
  overflow:auto;
  margin-right: .5rem;
  width:50%;

}

.Right_Side_Cont ::-webkit-scrollbar-track
{

}

.Right_Side_Cont::-webkit-scrollbar
{
  width: 8px;
}

.Right_Side_Cont::-webkit-scrollbar-thumb {
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.Right_Side_Cont::-webkit-scrollbar-thumb:active {
	border-radius: 8px;
  -webkit-box-shadow: 0 0 1px 1px hsla(0,0%,100%,.25);
}

.House_Info_Cont ::-webkit-scrollbar-track
{

}

.House_Info_Cont::-webkit-scrollbar
{
  width: 8px;
}

.House_Info_Cont::-webkit-scrollbar-thumb {
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.House_Info_Cont::-webkit-scrollbar-thumb:active {
	border-radius: 8px;
  -webkit-box-shadow: 0 0 1px 1px hsla(0,0%,100%,.25);
}

.Info_Page_Header_Cont {
  width: 100%;
  height: 30rem;
  background-image: url(https://www.honeywell.com/content/dam/honeywell/en-us/images/connected-building/C8B-content-carousel/ConnectedBuildingThoughtLeadership1424x950.jpg);
  background-size: cover;
  background-color: black;
  filter: opacity(0.9);
  display: flex;
  position: relative;
}

.Info_Page_Header_Dark {
  filter: opacity(0.3);
  background-color: navy;
  height: 100%;
  width: 100%;
}

.Info_Page_Header_Title {
  color: white;
  font-size: 50px;
  text-align: center;
}

.Info_Page_Header_Subtext {
  position: absolute; 
  color: white;
  font-size: 20px;
  margin-top: .5rem;
  text-align: center;
  width: 100%;
}

.Info_Page_Header_Cont > h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
}

.Info_Page_Header_Sub {
  display: flex;
  margin-top: 5rem;
  text-align: center;
  justify-content: center;
}

.Info_Page_Header_hr_Cont {
  width: 3rem;
  display: flex;
  margin-left: 20rem;
}

.Info_Page_Header_hr {
  color: blue;
  width: 3px;
  border: none;
  background-color: navy;
}

.Info_Page_Header_Sub_Text_Cont {
  height: 6rem;
}

.Info_Page_Header_Sub_Text {
  margin-top: 1rem;
  font-size: 30px;
  width: 35rem;
  color: navy;
  text-align: left;
  margin-left: .5rem;
  
}

.Info_Page_Header_Text_Cont {
  position: absolute;
  color: white;
  margin-top: 12rem;
  top: 0;
  left: 0;
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Info_Page_Line {
  font-size: 70px;
    font-weight: 200;
    font-weight: 100;
    margin-top: .6rem;
    color: navy;
}

.Info_Page_Middle_Cont {
  width: 100%;
  height: 30rem;
  justify-content: flex-end;
  position: relative;
  display: flex;
}

.Info_Page_Graybox {
  width: 70%;
  height: 100%;
  float: right;
  background-color: #f3f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.Info_Page_Middle_Image {
  width: 60%;
  height: 80%;
  background-color: green;
  margin-left: -68%;
  z-index: 10;
  overflow: visible;
  background-image: url("https://images.pexels.com/photos/302769/pexels-photo-302769.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
}

.Info_Page_Middle_Text {
  font-size: 20px;
  color: #203367;
}

.Info_Page_Middle_Ptext {
  color: #656c83;
  font-size: 12px;
  margin-top: 1rem;
}

.Info_Page_Middle_Text_Cont{
  display: inline-block;
  width: 40%;
  margin-left: 20%;
}

.Info_Page_Middle_Text_Cont2 {
  margin-right: 10%;
  margin-left: 20%;
  width: 40%;
  display: inline-block;
}

.Info_Page_Middle_Image2 {
  margin-left: 0%;
  z-index: 10; 
  width: 60%;
  height: 80%;
  overflow: visible;
  background-image: url("https://www.trabahomes.com/wp-content/uploads/2016/09/Captivating-House-Interior-Design-Coupled-with-Amazing-TV-Frame-and-Modern-Sofa-in-Bright-White.jpg");
  background-size: cover;
}

.Info_Page_Bluebox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    background-color: #1a2546;
    width: 100%;
}

.Info_Page_Bottom_Blue {
  height: 10rem;
    width: 100%;
    display: flex;
    z-index: 30;
}

.Info_Page_Bottom_Blue div:nth-child(1) {
  height: 10rem;
    width: 20%;
    background-color: white;
}

.Info_Page_Bottom_Blue div:nth-child(2) {
  background-color: #1a2546;
  width: 80%;
  height: 10rem;
}

.Info_Page_Middle_Image_3rd {
  width: 40%;
  margin-left: -40%;
  margin-top: -3%;
  height: 100%;
  z-index: 10;
  overflow: visible;
  background-image: url("https://davidchipperfield.com/img/MlYxTnpwaE5zZlhRczlhS29McytxQT09/1164-08-d-dca.jpg");
  background-size: cover;
}

.Info_Page_Numbers_Cont {
  width: 96%;
  float: right;
  background-image: url('https://images.unsplash.com/photo-1497366754035-f200968a6e72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
  height: 30rem;
  background-size: cover;
  background-color: black;
  filter: opacity(0.9);
  display: flex;
  position: relative;
}

.Info_Page_Stats_Cont {
  display: flex;
  height: 20rem;
  width: 97%;
  margin-top: 5rem;
}

.Info_Page_Middle_Text_Cont_3rd {
margin-top: 10rem;
display: inline-block;
width: 40%;
margin-left: 20%;
text-align: center;
}

.Info_Page_Stats_Section {
  display: block;
  width: 20%;
  justify-content: center;
  text-align: center;
  margin-left: 2rem;
}

.Info_Page_Stats_Cont > div p:nth-child(1) {
  font-size: 50px;
  display: block;
    text-align: left;
    margin-top: 2rem;
    position: unset;
    color: white;
    width: 100%;
    text-shadow: -1px 0px rgba(0,0,0,0.4)
}

.Info_Page_Stats_Cont > div p:nth-child(2) {
  text-align: left;
  margin-top: 1rem;
  font-size: 20px;
  text-shadow: -1px 0px rgba(0,0,0,0.4)
}

.Map_Cont {
  width: 50%;
  height: 100%
}
.Info_Page_Middle_Ptext_grey {
  font-size:20px; 
  color:#a6a9b3;
}

@media only screen and (max-width: 1000px) {
  .Home_Box_Grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .IndHome_SmallImage {
    display: none;
  }
  .IndHome_LargeImage {
    grid-area: b;
  }
}

@media only screen and (max-width: 1100px) {
.profile_cont {
  display: none;
}
}

@media only screen and (max-width: 700px) {
.House_Info_Cont {
  width: 100%; 
} 
.Map_Cont { 
  display: none;
}
.Right_Side_Cont { 
  width: 100%;
}
.City_Input {
  width: 5rem;
  }
  .Search_Cont {
    width: 7rem;
  }
  .State_Input_Cont {
    margin: auto 0 auto .5rem;
  }
  .Search_Cont {
    margin-left: 1rem;
  }
  }

  @media only screen and (max-width: 800px) {
    .Info_Page_Middle_Text_Cont2 {
      position: absolute;
      z-index: 11;
      margin-left: 0;
    }
    .Info_Page_Middle_Text {
      text-shadow: -1px 0px rgba(0,0,0,0.4);
    }
    .Info_Page_Middle_Ptext_grey {
      color: white; 
      text-shadow: -1px 0px rgba(0,0,0,0.4);
    }
    .Info_Page_Bluebox {
      position: relative;
    }
    .Info_Page_Graybox {
      width: 100%;
      position: relative;
    }
    .Info_Page_Middle_Image{
      margin-left: 0;
      position: absolute;
    }
    .Info_Page_Middle_Text_Cont {
      z-index: 13;
      margin-left: 0;
    }
    .Info_Page_Middle_Ptext {
      color: white;
      text-shadow: -1px 0px rgba(0,0,0,0.4);
    }
    .Info_Page_Middle_Image_3rd {
      position: absolute;
      margin-left: 0;
      width: 80%;
    }
    .Info_Page_Middle_Text_Cont_3rd {
      margin-top: 5rem;
      z-index: 13;
      margin-left: 0;
    }
    .Info_Page_Stats_Section {
      width: 100%;
      text-align: center;
      margin-left: 0;

    }
    .Info_Page_Header_Subtext {
      text-align: center;
    }
    .Info_Page_Stats_Cont {
      display: block;
    }
    .Info_Page_Stats_Cont > div p:nth-child(2){
      text-align: center;
      width: 100%;
    }
    .Info_Page_Stats_Cont > div p:nth-child(1){
      text-align: center;

    }
    .Info_Page_Numbers_Cont {
      height: 50rem;
    }
    .Info_Page_Middle_Image > div, .Info_Page_Middle_Image_3rd > div {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: black;
      opacity: .4;
      }
    .Info_Page_Middle_Image2 > div {
      width: 60%;
      height: 80%;
      position: absolute;
      background-color: black;
      opacity: .4;
    }
    }